* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root{
  width: 100%;
  height: 100%;
  
}
.mySection{
  padding: 1rem;
}
.SearchBar{
  display: flex;
  flex-direction: row;
  
}
#search{
width: 90%;
border-radius: 25px;
background-color: #EDF2FA;
border: none;
padding-left: 3rem;
}
p{
  
}